<%= render 'nav' %>

<div class="container-fluid">
  <div class="row">
    <div  class="col-md-7">
      <% @articles.each do |article| %>
        <!--div class="container"-->
          <div class="jumbotron">
            <div class="page-header">
              <h1><%= link_to article.title, article_path(article) %>    <small class="date"><%= article.created_at %></small></h1>
            </div>

            
            <div class="row">
              <div class="form-group col-md-4 col-sm-4 article-author-img">
                <%= image_tag Gravatar.new(article.user.email).image_url(s: 200) if article.user %>
                <h4><%= article.user.email if article.user %></h4>
              </div>
              <div class="form-group col-md-8 col-sm-8">
                <%= article.text %>
              </div>
            </div>
            
            <% if article.user == current_user %>
              <p><%= link_to 'Edit', edit_article_path(article) %> | <%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></p>
              <span class="right" ><%= render article.comments %></span>
            <% end %>
          </div>
        <!--/div-->
      <% end %>
    </div>

    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Últimos artículos</h2>

          <% @top_articles.each do |article| %>
        <!--div class="container"-->
            <div class="jumbotron">
              <div class="page-header">
                <h2><%= link_to article.title, article_path(article) %></h4>
                <small><%= article.created_at %></small>
              </div>
            </div>
            <!--/div-->
          <% end %>

        </div>
      </div>
    </div>


  </div>
</div>

