<%= render 'nav' %>

<div class="container-fluid">
  <div class="jumbotron">
    <div class="page-header">
      <h1><%= @article.title %>    <small class="date"><%= @article.created_at %></small></h1>
    </div>
    <p><%= @article.text %></p>
  </div>
</div>

<div class="container-fluid">

  <h2>Comments</h2>
  <%= render @article.comments %>

  <h2>Add a comment:</h2>
  <%= render "comments/form" %>

    <div class="panel-footer"><%= link_to 'Back', articles_path %>
  | <%= link_to 'Edit', edit_article_path(@article) %></div>
  </div>


</div>
