<%= render 'nav' %>

<div class="container-fluid">
  <div class="jumbotron">
    <div class="page-header">
      <h1><%= @article.title %>    <small class="date"><%= @article.created_at %></small></h1>
    </div>
    <div class="row">
      <div class="form-group col-md-4 col-sm-4 article-author-img">
        <%= image_tag Gravatar.new(@article.user.email).image_url(s: 200) if @article.user %>
        <h4><%= @article.user.email if @article.user %></h4>
      </div>
      <div class="form-group col-md-8 col-sm-8">
        <%= @article.text %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">

  <a name="comments"></a>
  <h2>Comments</h2>
  <%= render @article.comments %>

  <h2>Add a comment:</h2>
  <%= render "comments/form" %>

    <div class="panel-footer"><%= link_to 'Back', articles_path %>
  <% if @article.user == current_user %>| <%= link_to 'Edit', edit_article_path(@article) %><% end %></div>
  </div>


</div>
